/* Exercise 2 */
.odd {
    background-color: rgb(255, 163, 163);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjusted-font-size {
    font-size: 24px;
}

#element-2 {
    color: rgb(39, 28, 199);
    font-size: 36px;
}

#element-4 {
    background-color: rgb(139, 252, 154);
    font-weight: 700;
}


/* Exercise 3 */
.btn-1,
.btn-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn-1 {
    background-color: #000000;
    color: rgb(238, 238, 238);
}

.btn-2 {
    background-color: yellow;
}


/* Exercise 4 */
.avatar.proportioned {
    width: 300px;
    height: auto;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

/* Exercise 5 */
.ex-5 .container .text {
    background-color: yellow;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 20px;
}

/*  other possible combinations besides .context .text
    div p
    div .text 
    .container p
*/

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #fff8ec;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: #000;
    width: auto;
    margin: 0 10px;
    font-size: 0.7em;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 230, 86);
    font-weight: bold;
    white-space: nowrap;
}

.navbar a:hover {
    background-color: rgb(255, 217, 0);
    color: #000;
}

.introduction-section h1 {
    text-align: center;
    padding: 10px;
    background-color: lightsalmon;
    width: 500px;
    margin: auto;
}

.introduction-section {
    width: 100%;
    height: 1000px;
    background-color: #fff5ba;
}